[Unit]
Description=Elastic Heartbeat
Documentation=https://www.elastic.co/guide/en/beats/heartbeat/index.html
After=network.target

[Service]
User=root
Group=root
ExecStart=/opt/{{ item.1 }}/heartbeat -e -d "*"
Restart=always
WorkingDirectory=/opt/{{ item.1 }}/
Environment="GOPATH=/opt/{{ item.1 }}/"
Environment="HEARTBEAT_PATH_CONF=/opt/{{ item.1 }}/"
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
