[Unit]
Description=Metricbeat Service
After=network.target

[Service]
ExecStart=/opt/{{ item.0 }}-{{ item.1 }}/metricbeat -e -c /opt/{{ item.0 }}-{{ item.1 }}/metricbeat.yml
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
