[Unit]
Description=Packetbeat Service
After=network.target

[Service]
ExecStart=/opt/{{ item.0 }}-{{ item.1 }}/packetbeat -e -c /opt/{{ item.0 }}-{{ item.1 }}/packetbeat.yml
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
